@import url('../fonts/fonts.css');

:root {
	--background: #46425e;
	--button: #5b768d;
	--white: #f6c6a8;
	--tint: #d17c7c;
}

* {
	margin: 0;
	padding: 0;
	font-family: monogram;
	font-size: 32px;
	text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

html {
	background-color: var(--background);
}

.App {
	min-width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.param,
.change-buttons-container,
.export-import-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
	Parameter component
*/

.param {
	width: 360px;
	padding: 3px 10px;
	border-bottom: solid 2px var(--tint);
	border-radius: 5px;
}

.change-buttons-container {
	width: 120px;
}

.change-button {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 5px;
	background-color: var(--button);
}

.change-button:disabled {
	background-color: var(--tint);
}

/*
	export/input buttons
*/

input[type="file"] {
	display: none;
}

.export-import-container {
	width: 380px;
	margin: 5px 0;
}

.custom-button {
	display: inline-block;
	width: 187.5px;
	height: 40px;
	background-color: var(--button);
	border-radius: 5px;
	padding-top: 8px;
}
